@font-face{
    font-family: Quicksand-Bold;
    src: url(../font/Quicksand-Bold.otf);
}
@font-face{
    font-family: Quicksand-Light;
    src: url(../font/Quicksand-Light.otf);
}
*{
margin: 0;
padding: 0;
}
#header{
    font-family: Quicksand-Bold;
    margin-top: 20px;
    background: skyblue;
    color: aliceblue;
}
#header h1{
    margin-top: 10px;
}
#header h2 {
    text-align: right;
    font-family: Quicksand-Light;
    margin-top: 14px;
}
#main{
    background: rgba(135, 206, 235, 0.94);
    padding-bottom: 10px;
}
#insert-word{
    background: white;
    width: 100%;
    height: 140px;
    margin-top: 20px;
    font-family: Quicksand-Bold;
    resize: none;
    padding: 20px;
    border: none;
    color: darkslategray;
}
#insert-word::placeholder{
    color: black;
    font-size: 18px;
}
#translate-b{
    color: skyblue;
    font-family: Quicksand-Bold;
    width: 100%;
    height: 50px;
}
.translate-box{
    color: darkslategray;
    width: 100%;
    height: 200px;
    background: white;
    margin-top: 20px;
    padding: 20px;
    font-family: Quicksand-Bold;
}
.translate-box h3{
    text-decoration: underline;
}
.more{
    color: darkslategray;
    width: 100%;
    height: 50px;
    background: white;
    margin-top: 15px;
    padding: 10px;
    font-family: Quicksand-Bold;
    
}
#footer{
    /* height: 200px; */
    padding-top: 25px;
    background: skyblue;
    font-family: Quicksand-Bold;
    color: darkslategray;
    padding-bottom: 10px;
}
.title{
    float: left;
}
.item{
    margin-bottom: 10px;
    margin-left: 20px;
    padding: 10px;
    border-radius: 10px;
    float: left;
    background: aliceblue;
}
.item h4{
    margin-top: 5px;
}
.gmGit{
    width: 80%;
    height: 40px;
    margin: auto;
}
.red{
    background: #FC3C3C;
}
.blackL{
    background: #393E46;
}
.blueG{
    background: #112F41;
}

.box-info{
    width: 240px;
    height: 70px;
    position: relative;
    float: left;
    margin-left: 10px;
    margin-bottom: 20px;
}
.box-info .logo{
    width: 70px;
    height: 70px;
    background: #393E46;
    border-radius: 50%;
    position: absolute;
    left: 0;
    text-align: center;
    color: aliceblue;
    font-size: 34px;
    line-height: 2.1;
}
.box-info .logo:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.box-info .text-area{
    width: 205px;
    height: 70px;
    background: aliceblue;
    position: absolute;
    left: 35px;
    text-align: right;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}
.box-info .text-area h4{
    padding: 20px;
}

/* Responsive */
@media only screen and (max-width: 814px){
    h1{
        font-size: 28px;
    }
    h2{
        font-size: 23px;
    }
    h3{
        font-size: 18px;
    }
    h4{
        font-size: 15px;
    }
    #header{
        text-align: center;
    }
    #header h2{
        text-align: center;
    }
}